<!DOCTYPE html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet'>
    <link rel='stylesheet' type='text/css' href='assets/css/style.css'>
    <title>PixPlot Fourth of July</title>
    <meta name='author' content='Douglas Duhaime'>
    <meta charset="UTF-8">
  </head>
  <body>
    <header class='header'>
      <!-- <img class='logo' src='assets/images/dhlab-logo.svg' alt='DHLab logo' /> -->
      <div class='app-name'>🎆 PixPlot Visualization of DPLA Fourth of July Images 🎇</div>
      <div class='tagline'>Based on <a href="https://github.com/yaledhlab/pix-plot">PixPlot</a> from <a href="http://dhlab.yale.edu">Yale Digital Humanities Lab</a></div>
    </header>
    <div class='loader-scene'>
      <!-- <p class='welcome'>🎉🎆 Take a look at what a neural network thinks about the Fourth of July! 🎇🎉</p>
      -->
      <p class="welcome">This page visualizes 5,519 <a href="https://dp.la/search?q=fourth+of+july">"Fourth of July"</a> images from <a href="https://dp.la/">Digital Public Library of America</a> (DPLA), which aggregates cultural heritage metadata from thousands of institutions.</p>
        <p class="welcome">Under the hood is a WebGL model of how the <a href='https://www.cs.unc.edu/~wliu/papers/GoogLeNet.pdf' target='_blank'>Inception</a> Convolutional Neural Network perceives "relatedness" and then a mapping of the computed relationships into 3-dimensional space using <a href='https://github.com/lmcinnes/umap' target='_blank'>UMAP</a> algorithm such that similar images appear near each other.</p>
        <p class="welcome">Except for a few small modifications, this is based on the work and code published by the Yale Digital Humanities Labs in their <a href="https://github.com/yaledhlab/pix-plot">PixPlot repository</a>, which I learned about through an excellent <a href="https://vimeo.com/274922887">video presentation</a> from a Coalition for Networked Information (CNI) <a href="https://www.cni.org/topics/special-collections/neural-networks-machine-vision-for-the-visual-archive">project briefing</a>.</p>
        <hr class="welcome">
        <h3 class="welcome">Controls:</h3>
        <p class="welcome">Click the clusters on the left to zoom to those areas, or use the mouse to navigate on your own.</p>
        <p class="welcome">Clicking an item will center the camera to that image, and double-clicking an item will take you to the record for that image in DPLA.</p>

      <div class='loader-container'>
        <div class='loader-icon'>
          <div class='blocks'>
            <div class='block'></div>
            <div class='block'></div>
            <div class='block'></div>
            <div class='block'></div>
            <div class='block'></div>
            <div class='block'></div>
            <div class='block'></div>
            <div class='block'></div>
            <div class='block'></div>
          </div>
        </div>
        <div id='progress'>0%</div>
      </div>
      <button id='enter'>Enter</button>
    </div>
    <nav>
      <div class='nav-inner'>
        <h2>Hotspots</h2>
        <div id='hotspots'></div>
        <script type='text/html' id='template'>
          <% _.forEach(hotspots, function(hotspot) { %>
            <div class='hotspot'>
              <div class='background-image'
                style='background-image: url("output/thumbs/128px/<%= hotspot.img %>")'></div>
              <div><%= hotspot.label %></div>
            </div>
          <% }); %>
        </script>
      </div>
    </nav>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/three.js/88/three.min.js'></script>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js'></script>
    <script type='text/javascript' src='assets/js/object-assign-polyfill.js'></script>
    <script type='text/javascript' src='assets/js/tween.js'></script>
    <script type='text/javascript' src='assets/js/trackball-controls.js'></script>
    <script type='text/javascript' src='assets/js/texture-loader.js'></script>
    <script type='text/javascript' src='assets/js/tsne-webgl.js'></script>
    <script type='text/javascript' src='assets/js/ga.js'></script>
  </body>
</html>
